*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.wraper {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 40px;
    background-color: black;
}

.judul {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    text-transform: capitalize;

}
 
.awal {
    text-decoration: none;
    color: white;
    font-weight: 800;

}

.akhir {
    color: purple;
    font-weight: 600;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list>li {
    list-style-type: none;
    padding: 15px;
}

.list>li>a {
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    color: white;
}

.list>li>a:hover {
    color: purple;
    transition: all .6s ease-in-out;
}

.active {
    background-color: crimson;
    color: white;
    padding: 15px;
}